p,h3,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#linkedin{
    position: absolute;
    top: 13%;
    left: 47%;
}

#mail{
    position: absolute;
    top: 13%;
    left: 50%;
}

#page{
    background-color: rgb(224, 220, 220);
    border: ridge rgb(224, 224, 224);
    width: 45% ;
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;   
}


body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#date{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(92, 91, 91);
    top: 100px;
    left: 380px;    
}

#date2{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(92, 91, 91);
    top: 50px;
    left: -70px;    
}



#experiance{
    position: relative;
    top: 150px ;
    left: 15px;
}

#bande_diplome_obtenu{
    background-color: rgb(66, 66, 66);
    color: white;
    height: 50px;
    margin-top: 0px;
}



.blanctab{
    border: ridge rgb(224, 224, 224);
    width: 45% ;
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
}

#diplome_en_cours_dacquisition{
    border: ridge rgb(224, 224, 224);
    width: 45% ;
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
    position: relative;
    top: 25%;
    left: 50%;
}

#bande_diplome-en-cours{
    background-color: rgb(66, 66, 66);
    color: white;
    height: 50px;
    margin-top: 0px;
    

}








#competence{
    position: relative;
    top: 200px;
    
}

#langages{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);
    width: 20% ;
    padding-bottom: 25px;
    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    position: relative;
    color: white;
    left: 140px;
    top: 20px;
}

#application{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);
    width: 20% ;
    padding-bottom: 110px;
    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    position: relative;
    color: white;
    left: 340px;
    top: -272px;
}

#langue{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);
    width: 20% ;
    padding-bottom: 195px;
    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    position: relative;
    color: white;
    left: 540px;
    top: -567px;
}







li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
     
nav ul {
    background-color:rgb(0, 0, 0);
    padding:0;
    margin:0;
    position: relative;
    left: 521px;
    top: 5px;
}
     
nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#000000;
}
     
nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}

li a:hover {
    border-bottom:3px #FFF solid;
}

nav ul li ul { display:none; 
}
     
nav ul li:hover ul { 
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:-5px;
    margin-left:-460px;
}
     
nav ul li:hover ul li {
    float:none;
}


