p,h3,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-image:url(https://media4.giphy.com/media/I7V6Te1Ka0U00/source.gif) ;
    background-size: cover;

    
}


.bowl{
    position : absolute;
    border-radius: 50%;
    width: 0%;
    height: 0;
    border: 15px solid rgb(163, 160, 160);
    left : 50%;
    transform: translate(-50%,-50%);
}
.bowl1{
    position: absolute;
    top: 200%;
    left: 50%;

}
.bowl2{
    position: absolute;
    top: 400%;
    left: 50%;
    
}

.line{

    position: absolute;
    width : 0.2rem;
    height : 400%;
    left : 50%;
    background-color:rgb(163, 160, 160);
    top: 300%;
    transform: translate(-50%,-50%);
}




#page{
    background-color: rgb(224, 220, 220);
    border : ridge rgb(224, 224, 224);
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;

    flex-basis: 50%;
    display : flex;
    flex-wrap : wrap;
    flex-direction: row;
    
    /* justify-content: center; */


 
}

#presentation{
    flex-basis: 100%;
    background-color: rgb(163, 160, 160);
}

#Photo img{
    border-radius: 50%;

}


#reseaux{
    position: absolute;
    top: 18.8%;
    left: 45.5%;
}
#linkedin {
    position: absolute;
    left: -40%;
    top: 40%;


}

#Contact{
    position: absolute;
    left: 110%;
    top: 40%;


}



#date{

    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(92, 91, 91);
}

#date2{

    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgb(92, 91, 91);
}





#diplome_obtenu{
    border: ridge rgb(224, 224, 224);
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
    flex-basis: 30%;
    margin-top: 120px;
    margin-left: 15%;


}

#diplome_en_cours_dacquisition{
    border: ridge rgb(224, 224, 224);
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
    flex-basis: 30%;
    margin-left: 55%;


}



#bande_diplome_obtenu{
    background-color: rgb(66, 66, 66);
    color: white;
}



.blanctab{
    border: ridge rgb(224, 224, 224);
    box-shadow : 4px 6px 3px rgb(219, 217, 217) ;
}



#bande_diplome-en-cours{
    background-color: rgb(66, 66, 66);
    color: white;

    

}








#competence{
    flex-basis: 100%;

}

#langages{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);

    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    color: white;
    flex-basis: 33%;

}

#application{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);
    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    color: white;
    flex-basis: 33%;

}

#langue{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: ridge rgb(224, 224, 224);
    box-shadow : 2px 6px 3px rgb(219, 217, 217) ;
    background-color: rgb(66, 66, 66);
    color: white;
    flex-basis: 33%;

}





nav{
    background-color: #000000;
    flex-basis: 100%;
}
li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
     
nav ul {
    background-color:rgb(0, 0, 0);
    padding:0;
    margin:0;
    position: relative;

}
     
nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#000000;
}
     
nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}

li a:hover {
    border-bottom:3px #FFF solid;
}

nav ul li ul { display:none; 
}
     
nav ul li:hover ul { 
    z-index:99999;
    display:list-item !important;
    position:absolute;

}
     
nav ul li:hover ul li {
    float:none;
}


